/* general */

:root {
    --white: #fff;
    --black: #252525;
    --trail: red;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
    font-family: "Switzer", sans-serif;
    font-weight: 350;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: fit-content;
    width: 100%;
    animation: startup 1.5s;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 10em;
    align-items: center;
}

@keyframes startup {
    0% {opacity: 0}

    100% {opacity: 1}
}

a {
    text-decoration: none;
    font-size: 24px;
    cursor: ne-resize;
}

p {
    text-align: start;
    font-size: 24px;
}

#r15bin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 90%;
    width: 50%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 45%;
}

/* misc */

.copysafe {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor: default;
}

.copysafelink {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor: ne-resize;
}

/* mouse trail */

#trail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: none;
    pointer-events: none;
}

#trail path {
    fill: none;
    stroke: var(--trail);
    opacity: 0.5;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* resposiveness */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {
    a, p {
        font-size: 16px;
    }

    #r15bin {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    a, p {
        font-size: 16px;
    }

    #r15bin {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    a, p {
    font-size: 16px;
    }

    #r15bin {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #r15bin {
        width: 50%;
    }
}
