* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow-x: hidden;
    font-family: 'Inter';
    color: #cccccc;
    cursor: cell;
    background-color: #050505;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

#logo {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a {
    color: #cccccc;
    font-weight: 800;
    font-size: 4em;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

#socials {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0vh 10vw;
}

.social {
    font-weight: 400;
    border: 3px solid #1a1a1a;
    border-radius: 24px;
    background-color: #1a1a1a;
    padding: 5px 15px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.social img {
    width: 18px;
    margin-right: 5px;
    background-color: transparent;
}

.social:hover {
    border: 3px solid #3a3a3a;
    background-color: #3a3a3a;
}

#wip {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

#wip p {
    font-size: 6em;
    text-align: center;
    font-family: 'Playfair Display';
    background: linear-gradient(#cccccc, blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: breathing 5s infinite;
}

@keyframes breathing {
    0% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: normal;
    }
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#copyright p {
    color: #3a3a3a;
    font-weight: 300;
}

.copysafe {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #socials {
        margin: 0vh 20vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #socials {
        margin: 0vh 23vw;
    }
}

/* HTML: <div class="loader"></div> */
.load {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    border: 10px solid #050505;
    box-sizing: border-box;
    background: 
      radial-gradient(farthest-side,#cccccc 98%,#1a1a1a) 50%/20px 20px,
      radial-gradient(farthest-side,#cccccc 98%, #1a1a1a) 50%/20px 20px,
      radial-gradient(farthest-side,#cccccc 98%,#1a1a1a) 50%/20px 20px,
      radial-gradient(farthest-side,#cccccc 98%,#1a1a1a) 50%/20px 20px,
      radial-gradient(farthest-side,#cccccc 98%,#1a1a1a) 50%/20px 20px,
      linear-gradient(#cccccc 0 0) 50%/100% 10px,
      linear-gradient(#cccccc 0 0) 50%/10px 100%,
      #000;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(5);
    animation: l13 0.8s infinite;
  }
  @keyframes l13 {
    100%  {background-position:50% -20px,-20px 50%,60px 50%,50% 60px,50%,50%,50%}
  }