* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}

.static {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
}

.static video {
    object-fit: cover;
    width: inherit;
    height: inherit;
    mix-blend-mode: soft-light;
    opacity: 0.2;
}

.tv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    z-index: 3;
}

.pixel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: screen;
    opacity: 0.1;
}

html, body {
    height: 100dvh;
    height: -webkit-fill-available;
    width: 100dvw;
    background-color: #000;
    background-image: url("misc/bg.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, a {
    font-family: 'Kumar One';
    color: #e5e5e5;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 


/* SECTION LOADING */

.sectionLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    cursor: progress;
}

.sectionLoading p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #e5e5e5;
    font-family: 'Kumar One';
    cursor: progress;
}

/* SECTION OTIS */

.otisabove {
    display: flex;
    justify-content: center;
    font-size: 6em;
    cursor: default;
}

/* SECTION MENU */

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

li {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 3em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuItem {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuItem:hover {
    color: #f5f5f5;
    
}

#youtube::after {
    content: "[youtube]";
}

#youtube:hover::after {
    content: "- [youtube] -";
}

#soundcloud::after {
    content: "[soundcloud]";
}

#soundcloud:hover::after {
    content: "- [soundcloud] -";
}

#instagram::after {
    content: "[instagram]";
}

#instagram:hover::after {
    content: "- [instagram] -";
}

#credits::after {
    content: "[credits]";
}

#credits:hover::after {
    content: "- [credits] -";
}

#contact::after {
    content: "[contact]";
}

#contact:hover::after {
    content: "- [contact] -";
}

#back::after {
    content: "[back]";
}

#back:hover::after {
    content: "- [back] -";
}

/* SECTION FOOTER */

.sectionFooter{
    padding-top: 4vh;
}

.select {
    display: flex;
    justify-content: center;
    animation: blinker 2s ease-in-out infinite;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* PAGE CREDITS */

.sectionCredits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-size: 2em;
}

.creditsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.sectionMenuCredits li {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.websiteBy {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    word-spacing: 10px;
}

/* COMPATIBILITY */

@media screen and (max-width: 1024px) {
    .otisabove {
        font-size: 5em;
    }

    li {
        font-size: 2.5em;
    }

    .about {
        font-size: 1.5em;
    }

    .sectionLoading p {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    .otisabove {
        font-size: 4em;
    }

    li {
        font-size: 2em;
    }

    .about {
        font-size: 1.2em;
    }

    .sectionLoading p {
        font-size: 2em;
    }
}

@media screen and (max-width: 480px) {
    .otisabove {
        font-size: 3em;
    }

    li {
        font-size: 1.5em;
    }

    .about {
        font-size: 0.7em;
    }

    .tv {
        display: none;
    }
}

@media screen and (max-width: 375px) {

}